#MenuButton{
    -fx-background-color: #E5E2A1;
    -fx-text-fill: BLACK;
    -fx-font-size: 15;
    -fx-background-radius: 9 9 9 9;
    -fx-font-family: halvetica;
    -fx-font-weight: bold;
}
.button{
    -fx-background-color: BLACK;
    -fx-border-color: BLUE;
    -fx-border-width: 2;
    -fx-text-fill: WHITE;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 7 7 7 7;
    -fx-pref-width: 38;
    -fx-pref-height: 35;
    -fx-font-family: halvetica;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
#pane{
    -fx-background-color:#d2cd50;
}

#rectangle{
    -fx-border-radius: 10 10 10 10;
}

.button:hover{
    -fx-background-color: grey;
}

.button:pressed{
    -fx-background-color: blue;
}
